---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Brands from '~/components/widgets/Brands.astro';
import Steps2 from '~/components/widgets/Steps2.astro';

const metadata = {
  title: 'Medicom Healthcare Indonesia',
  ignoreTitleTemplate: true,
};

const images = [
  {
    src: '~/assets/images/company/ACOMA.png',
    alt: 'ACOMA',
  },
  {
    src: '~/assets/images/company/BERMUDA.png',
    alt: 'BERMUDA',
  },
  {
    src: '~/assets/images/company/CHITOSE.png',
    alt: 'CHITOSE',
  },
  {
    src: '~/assets/images/company/DORNIER-MEDTECH.png',
    alt: 'DORNIER-MEDTECH',
  },
  {
    src: '~/assets/images/company/FALCON.png',
    alt: 'FALCON',
  },
  {
    src: '~/assets/images/company/INCELER.png',
    alt: 'INCELER',
  },
  {
    src: '~/assets/images/company/KONICA.png',
    alt: 'KONICA',
  },
  {
    src: '~/assets/images/company/MACROLUX.png',
    alt: 'MACROLUX',
  },
  {
    src: '~/assets/images/company/MASIMO.png',
    alt: 'MASIMO',
  },
  {
    src: '~/assets/images/company/MECTRONIC.png',
    alt: 'MECTRONIC',
  },
  {
    src: '~/assets/images/company/METRAN.png',
    alt: 'METRAN',
  },
  {
    src: '~/assets/images/company/NIHON-KOHDEN.png',
    alt: 'NIHON-KOHDEN',
  },
  {
    src: '~/assets/images/company/PENTAX.png',
    alt: 'PENTAX',
  },
  {
    src: '~/assets/images/company/PRIMUS.png',
    alt: 'PRIMUS',
  },
  {
    src: '~/assets/images/company/STERIS.png',
    alt: 'STERIS',
  },
  {
    src: '~/assets/images/company/INMEDIK.png',
    alt: 'INMEDIK',
  },
  {
    src: '~/assets/images/company/WPT.png',
    alt: 'WPT',
  },
];
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero image={{ src: '~/assets/images/company/handshake.webp', alt: 'Medicom Indonesia Hero Image' }}>
    <Fragment slot="title"> Medicom Healthcare Indonesia </Fragment>

    <Fragment slot="subtitle"> Beyond Expectations </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <FAQs
    id="visi-misi"
    title="Visi & Misi"
    subtitle="Explore our vision and mission to understand the core values and goals that drive Medicom Indonesia towards excellence."
    classes={{ container: 'max-w-6xl' }}
    columns={1}
    items={[
      {
        title: 'Our Vision',
        description:
          'Menjadi perusahaan berbasis Solusi yang dapat dipercaya dalam memberikan pelayanan yang baik secara kualitas namun harga terjangkau dan after sales service di seluruh Provinsi di Indonesia..',
      },
      {
        title: 'Our Mission',
        description:
          'Memberikan Layanan dan Produk yang tepat seperti Installasi, Maintenance, Extended Warranty, dan barang habis pakai Respon yang cepat dalam memberikan pelayanan 24/7 Membangun dan menumbuhkan kemitraan jangka Panjang dengan Pabrik, Distributor, dan Rumah Sakit yang saling menguntungkan bagi semua pihak',
      },
    ]}
  />

  <!-- Features Widget *************** -->

  <Features
    id="about"
    title="About Us"
    subtitle="Delivering top-notch solutions with a commitment to quality, affordability, and exceptional after-sales service across Indonesia."
    items={[
      {
        title: 'Pengalaman dan Kualitas',
        description:
          'Berdiri sejak 2024 dan sudah memiliki pengalaman kurang lebih 20 tahun dibidang after sales service',
        icon: 'tabler:trophy',
      },
      {
        title: 'Tim Teknisi Andal',
        description:
          'Kami memiliki tim teknisi yang andal dengan jumlah personel kurang lebih 50 orang dan tersebar di 38 provinsi di Indonesia.',
        icon: 'tabler:users',
      },
      {
        title: 'Laboratorium Endoscopy Terbesar',
        description:
          'Kami memiliki laboratorium endoscopy salah satu terbesar di ASEAN dan satu-satu nya di Indonesia.',
        icon: 'tabler:flask',
      },
      {
        title: 'Pembuatan PCB Board',
        description:
          'Kami dapat melayani pembuatan PCB Board untuk semua brand alat Kesehatan baik buatan dalam maupun luar negeri (AKD dan AKL).',
        icon: 'tabler:artboard',
      },
      {
        title: 'Perbaikan dan Pemeliharaan',
        description:
          'Kami dapat melayani perbaikan dan pemeliharaan untuk peralatan yang berada di area Intensive Care Unit, Operating Theatre, Medical Waste, Urology, Cardiology, Gynecology, Ward Room, Emergency Room dan Workplace Infrastructure.',
        icon: 'tabler:car-garage',
      },
      {
        title: 'Produk Barang Habis Pakai (BHP)',
        description:
          'Kami menawarkan produk Barang Habis Pakai (BHP) dan Kami sudah berkerjasama dengan 40 brand ternama baik dalam maupun luar negeri.',
        icon: 'tabler:box',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    id="our-business"
    title="Scope of business"
    subtitle="Explore the diverse range of services and solutions we offer to meet the healthcare needs of Indonesia."
    items={[
      {
        title: 'Extended Warranty',
        description: 'Kami menyediakan garansi yang lebih lama dan dapatkan keamanan tambahan untuk investasi Anda.',
        icon: 'flat-color-icons:online-support',
      },
      {
        title: 'Consumable Parts (BHP)',
        description:
          'Kami menyediakan Breathing circuit Humidifier, Nebulizer, Monitor Accessories (Lead ECG, SPO2 Sensor, NIBP Cuff, temp probe), Steam indicator, pouches, and autoclave accesories, Ventilator and Anesthesia Accessories (O2 Sensor, Flow Sensor)',
        icon: 'flat-color-icons:factory',
      },
      {
        title: 'Service Repair',
        description: 'Kami melayani perbaikan berupa Spare parts, Compatible parts',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Ad-hoc Maintenance',
        description:
          'Kami melayani perawatan dan pemeliharaan pada peralatan Anda secara berkala untuk meningkatkan kinerja dan keamanan.',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Calibration',
        description:
          'Kami melayani kalibrasi pada peralatan Anda untuk meningkatkan akurasi dan keamanan, Medical device Calibration include KAN certificate and ASPAK registered',
        icon: 'flat-color-icons:flash-on',
      },
      {
        title: 'Multivendor Services',
        description: 'Kami melayani jasa dari berbagai vendor untuk meningkatkan kinerja dan keamanan peralatan Anda.',
        icon: 'flat-color-icons:currency-exchange',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Brands Widget ******************* -->

  <Brands id="partner" title="Partnerships & Collaborations" icons={[]} images={images} />

  <!-- Contact Us Widget ******************* -->

  <Steps2
    id="contact-us"
    title="Reach out to us"
    subtitle="Have questions? Feel free to contact us"
    classes={{ container: 'border-t border-gray-200 relative max-w-8xl mx-auto px-2 py-2' }}
    items={[
      {
        title: 'Email us',
        description: 'info@medicom-indonesia.com',
        icon: 'tabler:mail',
      },
      {
        title: 'Address',
        description:
          'Jl. Raya Kebayoran Lama No.35, RT 08/RW 01, Sukabumi, Sel. Kecamatan Kebon Jeruk, Jakarta Barat, Daerah Khusus Ibukota Jakarta 11560',
        icon: 'tabler:map-pin',
      },
    ]}
  />
</Layout>
